
@{
    ViewBag.Title = "ML";
}

<h2>@Recursos.Recurso.TituloPagina</h2>

<br />

<div>
    <script>

        date = new Date().toLocaleDateString();
        document.write(date);
    </script>
    <br />
    <script type="text/javascript">
        var d = new Date();
        document.write(d.getHours());
        document.write(d.getMinutes());
        document.write(d.getSeconds());
    </script>
</div>
